@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="admin-modal-overlay admin-modal-overlay--nested" id="doc-preview-modal">
    <div class="admin-modal admin-modal--lg">
        <div class="admin-modal__header">
            <h2 class="admin-modal__title">
                <i class="ph ph-file-magnifying-glass"></i>
                <span id="doc-preview-title">Document Preview</span>
            </h2>
            <button class="admin-modal__close" onclick="closeModal('doc-preview-modal')"><i class="ph ph-x"></i></button>
        </div>
        <div class="admin-modal__body">
            <div class="admin-doc-preview-body" id="doc-preview-body">
                <div class="admin-doc-preview-placeholder">
                    <i class="ph ph-file-magnifying-glass"></i>
                    <span>Select a document to preview</span>
                </div>
            </div>
        </div>
    </div>
</div>